:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  /* background-color: #303030;
  color: white; */
}

.progress-bar{
  position: fixed;
  display: flex;
  bottom: 0px;
  width: 100%;
  height: 1rem;
}

.progress-bar-plan{
  background-color: red;
  width: 100%;
}

.progress-bar-review{
  background-color: green;
  width: 100%;
}

@media screen and (min-width: 500px) {
}

